.card{
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-left: 0;
 align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 20px;
}
@font-face {
    font-family: 'fontescreen';
    src: url('assets/fonts/digital-7\ \(mono\).ttf') format('truetype');
}
p{
    font-size: 25px;
}
#screen{
    width: 500px;
    height: 100px;
    background-color: rgba(255, 160, 35, 0.6);
    border-radius: 40px;
    margin: 15px;
    border: solid black 1px;
    padding:  0 10px;
    display: flex;
    letter-spacing: 2px;
    font-family: 'fontescreen', sans-serif;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.longo{
    background-color: rgb(253, 178, 81, 0.9);
    border-radius: 60px;
    border: 1px solid black;
    height: 180px;
    margin-bottom: 0 !important;
}


.grid{
    display: grid;
    grid-template-columns:repeat(3, 80px);
    gap: 20px;
    grid-template-rows: auto;
     align-items: center;
    justify-content: center;
    justify-items: center;
}
body{
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Calculadora{
       align-items: center;
    justify-content: center;
    justify-items: center; 
    background-color: rgb(111, 158, 142, 0.6);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10%;
    border: 10px solid rgba(96, 136, 123, 0.6);
}
.flex{
    display: flex;
}

#secao2{
    margin-left: 10px;
}
#secao2 .card{
    margin-bottom: 20px;

}

#secao2 .longo{
    margin-bottom: 0px;

}

.gridmenor{
    display: grid;
    grid-template-columns:repeat(1, 80px);
    gap: 20px;
    grid-template-rows: auto;
     align-items: center;
    justify-content: center;
    justify-items: center;
}
